$height: 30px;
$drag-region-margin: 4px;
$button-width: 45px;

.title-bar {
  height: $height;
  -webkit-user-select: none;
  width: 100%;
}

.drag-region {
  -webkit-app-region: drag;
  height: calc(#{$height} - #{$drag-region-margin});
  left: $drag-region-margin;
  position: absolute;
  top: $drag-region-margin;
  width: calc(100% - #{$drag-region-margin} - #{$button-width} * 3);
}

.window-title {
  font-size: 12px;
  line-height: $height;
  text-align: center;
}

.window-title.blur {
  color: #999999;
}

.button {
  background-color: transparent;
  float: right;
  height: 100%;
  position: relative;
  width: $button-width;
}

@mixin close-button-base($color) {
  background-color: $color;
  content: " ";
  height: 1px;
  left: 16px;
  position: absolute;
  top: 14px;
  width: 13px;
}

.close-button {
  @extend .button;
}

.close-button:before, .close-button:after {
  @include close-button-base(#000000);
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}

.close-button:hover {
  background-color: #e81123;
}

.close-button:hover:before, .close-button:hover:after {
  @include close-button-base(#ffffff);
}

.close-button.blur:before, .close-button.blur:after {
  @include close-button-base(#999999);
}

.close-button.blur:hover:before, .close-button.blur:hover:after {
  @include close-button-base(#ffffff);
}

@mixin maximize-button-base($color) {
  border: 1px solid $color;
  content: " ";
  height: 8px;
  left: 17px;
  position: absolute;
  top: 10px;
  width: 8px;
}

.maximize-button {
  @extend .button;
}

.maximize-button:before {
  @include maximize-button-base(#000000);
}

.maximize-button:hover {
  background-color: #e5e5e5;
}

.maximize-button.blur:before {
  @include maximize-button-base(#999999);
}

.maximize-button.blur:hover:before {
  @include maximize-button-base(#000000);
}

@mixin restore-button-base-before($color) {
  border: 1px solid $color;
  content: " ";
  height: 6px;
  left: 17px;
  position: absolute;
  top: 12px;
  width: 6px;
}

@mixin restore-button-base-after($color) {
  background: $color;
  box-shadow:
    0px 1px $color,
    1px 0px $color,
    2px 0px $color,
    3px 0px $color,
    4px 0px $color,
    5px 0px $color,
    6px 0px $color,
    7px 0px $color,
    7px 1px $color,
    7px 2px $color,
    7px 3px $color,
    7px 4px $color,
    7px 5px $color,
    7px 6px $color,
    7px 7px $color,
    6px 7px $color,;
  content: " ";
  height: 1px;
  left: 19px;
  position: absolute;
  top: 10px;
  width: 1px
}

.restore-button {
  @extend .button;
}

.restore-button:before {
  @include restore-button-base-before(#000000);
}

.restore-button:after {
  @include restore-button-base-after(#000000);
}

.restore-button:hover {
  background-color: #e5e5e5;
}

.restore-button.blur:before {
  @include restore-button-base-before(#999999);
}

.restore-button.blur:after {
  @include restore-button-base-after(#999999);
}

.restore-button.blur:hover:before {
  @include restore-button-base-before(#000000);
}

.restore-button.blur:hover:after {
  @include restore-button-base-after(#000000);
}

@mixin minimize-button-base($color) {
  border-top: 1px solid $color;
  content: " ";
  height: 1px;
  left: 17px;
  position: absolute;
  top: 15px;
  width: 10px;
}

.minimize-button {
  @extend .button;
}

.minimize-button:before {
  @include minimize-button-base(#000000);
}

.minimize-button:hover {
  background-color: #e5e5e5;
}

.minimize-button.blur:before {
  @include minimize-button-base(#999999);
}

.minimize-button.blur:hover:before {
  @include minimize-button-base(#000000);
}
