
$title-bar-height: 30px;
$drag-region-margin: 4px;
$title-bar-button-width: 45px;

.title-bar {
  width: 100%;
  height: $title-bar-height;
}

.title-bar.window-title {
  font-size: 12px;
  text-align: center;
  line-height: $title-bar-height;
}

.title-bar.button {
  float: right;
  width: $title-bar-button-width;
  height: 100%;
}

.title-bar.drag-region {
  position: absolute;
  left: $drag-region-margin;
  top: $drag-region-margin;
  height: calc(#{$title-bar-height} - #{$drag-region-margin});
  width: calc(100% - #{$drag-region-margin} - #{$title-bar-button-width} * 3);
  -webkit-app-region: drag;
}

.title-bar.button.close {
  position: relative;
  background-color: transparent;
}

.title-bar.button.close:before, .title-bar.title-bar.button.close:after {
  position: absolute;
  left: 16px;
  width: 13px;
  height: 1px;
  top: 14px;
  content: " ";
  background-color: #000000;
}

.title-bar.button.close:before {
  transform: rotate(45deg);
}

.title-bar.button.close:after {
  transform: rotate(-45deg);
}

.title-bar.button.close:hover {
  background-color: #e81123;
}

.title-bar.button.close:hover:before, .title-bar.button.close:hover:after {
  position: absolute;
  left: 16px;
  width: 13px;
  height: 1px;
  top: 14px;
  content: " ";
  background-color: #ffffff;
}

.title-bar.button.close:hover:before {
  transform: rotate(45deg);
}

.title-bar.button.close:hover:after {
  transform: rotate(-45deg);
}

.title-bar.button.maximize {
  position: relative;
  background-color: transparent;
}

.title-bar.button.maximize:before {
  position: absolute;
  top: 10px;
  left: 17px;
  width: 8px;
  height: 8px;
  content: " ";
  border: 1px solid #000000;
}

.title-bar.button.maximize:hover {
  background-color: #e5e5e5;
}

.title-bar.button.restore {
  position: relative;
  background-color: transparent;
}

.title-bar.button.restore:before {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 6px;
  height: 6px;
  content: " ";
  border: 1px solid #000000;
}

.title-bar.button.restore:after {
  position: absolute;
  top: 10px;
  left: 19px;
  width: 1px;
  height: 1px;
  content: " ";
  background: black;
  box-shadow:
    0px 1px,
    1px 0px,
    2px 0px,
    3px 0px,
    4px 0px,
    5px 0px,
    6px 0px,
    7px 0px,
    7px 1px,
    7px 2px,
    7px 3px,
    7px 4px,
    7px 5px,
    7px 6px,
    7px 7px,
    6px 7px,
}

.title-bar.button.restore:hover {
  background-color: #e5e5e5;
}

.title-bar.button.minimize {
  position: relative;
  background-color: transparent;
}

.title-bar.button.minimize:before {
  position: absolute;
  top: 15px;
  left: 17px;
  width: 10px;
  height: 1px;
  content: " ";
  border-top: 1px solid #000000;
}

.title-bar.button.minimize:hover {
  background-color: #e5e5e5;
}
