$title-bar-height: 30px;
$contents-margin: 8px;

.app {
  height: 100%;
  width: 100%;
}

.contents {
  height: calc(100% - #{$title-bar-height} - #{$contents-margin} * 2);
  margin: 8px;
  width: calc(100% - #{$contents-margin} * 2);
}
